<ion-view id="lista" hide-nav-bar="true">
	<ion-content padding="true" scroll="true">
		<div class="list card">

			<div class="item item-avatar" ng-click="goTo('instituicao')">
				<img src="http://portalsud.com.br/newssmith/imagens/02082012/00002082012mqa1.jpg">
				<h2>Recanto para Idosos Vovó Maria Marques</h2>
				<p>10,4 km &bull; Santos - SP</p>
				<button class="button button-small button-positive">
					asilo
				</button>
				<button class="button button-small button-calm">
					creche
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>