<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
        	<img src="img/logo.png" alt="" />

			<div class="list">
				<label class="item item-input">
					<input type="text" placeholder="joao.silva@email.com">
				</label>
				<label class="item item-input">
					<input type="password" placeholder="*****">
				</label>
			</div>

			<button class="button button-outline button-positive" ng-click="goToState('tab.instituicoes')">Entrar</button>

			<a href="#">Cadastre-se</a>

			<!-- <div class="row">
				<div class="col col-50">.col.col-50</div>
				<div class="col">.col</div>
				<div class="col">.col</div>
			</div> -->
        </section>
    </ion-content>
</ion-view>